<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angry_birds_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{124,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>angry_birds_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>angry_birds_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds.png</string>
            <key>size</key>
            <string>{386,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4e264448831386e2fb6ea30458584ee:4a1335b2d1155c26d94283ead7a14196:569d2b007616b4878bffdefcffa65111$</string>
            <key>textureFileName</key>
            <string>birds.png</string>
        </dict>
    </dict>
</plist>
